	<div class="row">
		<div class="col">
			<div class="container" style="width: 40%; margin-top: 26vh;">
				<div class="form-control">
					<div class="card">
						<div class="card-header fw-bold text-center bg-dark">
							<h5 class="py-1" style="color: white;">myProfile</h5>
						</div>
					</div>
					<form action="#" method="POST">
						<div class="my-3">
							<input type="text" placeholder="Username" class="form-control" name="username" />
						</div>
						<div class="mb-2">
							<input
								type="password"
								placeholder="Password"
								class="form-control"
								name="password"
							/>
						</div>
						<div class="d-grid">
							<button type="submit" class="btn btn-primary">Log in</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
